<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>KitchenCounter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/dashboard.style.css" />
    <script src="https://kit.fontawesome.com/5ee5ea9bf9.js" crossorigin="anonymous"></script>
</head>
<body>
    <img id="logoText" src="images/isolated-monochrome-white.svg" alt="">
    <main>
        <div id="iconContainer">
            <img id="icon" src="images/icon.svg" alt="">
        </div>

        <section id="masterLists" class="dropdownBar">
            <div class="titleBar">
                <h2>Master Lists</h2>
                <a id="addMasterBtn" href="/dashboard/createList" class="btn_icon"><i class="fa-solid fa-plus"></i></a>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
            
            <section class="dropdownSection hidden">
                <% lists.forEach(el => { %>
                    <li class="listItem" data-id="<%=el._id%>">
                        <h3><%=el.listName%></h3>
                        <a class="btn_icon" href="/dashboard/editMaster/?listId=<%=el._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
                    </li>
                <% }) %>
                
            </section>
        </section>

        <section class="dropdownBar">
            <div class="titleBar">
                <h2>Entries</h2>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
            <section class="dropdownSection hidden">
                <h1>filler</h1>
             </section>
        </section>
        <a id="addInvBtn" class="btn btn_secondary" href="#">Add Inventory</a>
    </main>
   <script src="js/main.js"></script>
</body>
</html>