<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <title>KitchenCounter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/index.style.css" />
    </head>
    <body>
        <img id="loginImg" src="images\default-monochrome.svg" alt="" />
        <ul>
            <li><a class="btn" href="/login"> Login</a></li>
            <li><a class="btn btn_secondary" href="/signup"> Signup</a></li>
        </ul>
        <section id="exampleLogin">
            <h2 class="example">Example Log In</h2>
            <h2 class="example">Email: example@example.com</h2>
            <h2 class="example">Password: examplelist</h2>
        </section>
    </body>
</html>
