/* ===================================== */
/* ============= Layout ================ */
/* ===================================== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoText {
    width: 60vw;
    max-width: 650px;
    position: absolute;
    transform: translateX(60px) translateY(40px)
}

main {
    height: 80vh;
    width: 100%;
    max-width: 1000px;
    margin-top: 100px;
    padding: 1rem;
    
}

#iconContainer {
    display: grid;
    place-items: center;
    padding: 1.5rem;
    position: absolute;
    transform: translateY(-55%);
}

#icon {
    width: 15vw;
    max-width: 70px;
    height: 15vw;
    max-height: 70px;
}

section {
    width: 100%;
    margin: 10px 0;
    padding: .5rem;
}

#masterLists {
    margin-top: 100px;
}

.titleBar {
    padding: .5rem;
}

#addMasterBtn {
    margin: 0 30px 0 auto;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    margin: 0 5px 10px 5px;
}

.listItem span {
    margin-left: 10px;
}

#addInvBtn {
    display: block;
    margin: 75px 0 0 auto;
    width: 250px;
}

/* ===================================== */
/* ======== Additional Styles ========== */
/* ===================================== */
main {
    background-color: var(--primary-light-color);
}

#iconContainer {
    background-color: var(--primary-color);
    border-radius: 100%;
    border: 8px solid var(--primary-light-color);
}

#icon {
    background-color: var(--primary-color);
}

section {
    background-color: #fff;
    border-radius: 8px;
}

.dropdownBar {
    box-shadow: 1px 1px 1px 1px var(--primary-color);
    -webkit-appearance: none; /* allows box-shadow to show on iOS */ 
    
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

.titleBar h2 {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.directionArrow {
    color: var(--primary-color)
}

.dropdownSection {
    /* display: none; */
}

.listItem {
    border-bottom: 1px solid rgb(174, 171, 171);
}

h3 {
    font-size: 1.2rem;
    color: #3B3B3B;
    font-weight: bold;
}

section span {
    font-size: .8rem;
}

.editMasterBtn {
    font-size: 1.2rem;
    border-radius: 100%;
    background-color: var(--primary-light-color);
    color: var(--primary-color);
    border-color: var(--primary-light-color);
    box-shadow: 1px 1px 1px 1px var(--primary-color);
}

#addInvBtn {
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    padding: 1.2rem;
    font-weight: bold;
}

/* ===================================== */
/* ========== Media Queries ============ */
/* ===================================== */

@media screen  and (min-width: 1001px) {
    main {
        border-radius: 5px;
    }
}