/* ===================================== */
/* ============= Layout ================ */
/* ===================================== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.6rem;
}

#categoriesBar {
    flex-wrap: wrap;
}

.popUpModal {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
    height: 400px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem;
    box-shadow: 2px 2px 4px 2px gray;
}

#addItemModal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
}

#removeItemModal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#removeItemModal p {
    text-align: center;
    font-size: 2rem;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#nameInput {
    width: 100%;
}

#priceInput {
    width: 8ch;
}

#addItemSubmit {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    padding: .4rem;
}

#listContainer {
    background-color: var(--primary-light-color);
    /* text-align: center; */
}

#categoryFilter {
    width: 30ch;
    text-transform: capitalize;
    margin: 0 auto;
    border-radius: 2px;
    color: var(--primary-color);
    font-weight: bold;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

option {
    text-transform: capitalize;
}

.eachItemLine {
    font-weight: bold;
    color: var(--black-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--black-color);
    padding:  1rem .5rem;
}

.eachItemLine div {
    margin-left: auto;
}

.priceInput {
    width: 8ch;
}

.itemName {
    width: 10ch;
}

.categorySelect {
    margin-left: auto;
}
