/* ===================================== */
/* ============= Layout ================ */
/* ===================================== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.6rem;
}

#categoriesBar {
    flex-wrap: wrap;
}

#addItemModal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#removeItemModal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#removeItemModal p {
    text-align: center;
    font-size: 2rem;
}

#nameInput {
    width: 100%;
}

#priceInput {
    width: 8ch;
}

#addItemSubmit {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    padding: 0.4rem;
}

#listContainer {
    background-color: var(--primary-light-color);
}

#categoryFilter {
    width: 30ch;
    display: block;
    text-transform: capitalize;
    margin: 0 auto;
    border-radius: 2px;
    color: var(--primary-color);
    font-weight: bold;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

option {
    text-transform: capitalize;
}

.eachItemLine {
    font-weight: bold;
    color: var(--black-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--black-color);
    padding: 1rem 0.5rem;
}

.eachItemLine form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.eachItemLine div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priceInput {
    width: 6ch;
}

.itemName {
    width: 10ch;
}

.categorySelect {
    margin-left: auto;
}

.updateBtn {
    margin-left: 10px;
}

.dropdownSection {
    padding: 0;
}

#openAddItemsModal {
    border-radius: 4px;
}

.btnContainer {
    width: 100%;
    text-align: center;
}

#addCategoryForm {
    text-align: center;
}

.addCategoryInput {
    padding: .4rem 1rem;
}