.eachItemLine {
    font-weight: bold;
    color: var(--black-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid var(--black-color); */
    /* padding:  1rem .5rem; */
}

#listContainer {
    background-color: var(--primary-light-color);
    margin-bottom: 100px;

}

.radio {
    display: none;
}

#addInvForm {
    background-color: var(--primary-opaque-color);
    position:  fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    height: 90px;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

#addInvForm form {
    display: flex;
    align-items: center;
    width: 100%;
}

.numberInput {
    width: 8ch;
    margin: 0 .5rem;
    font-size: 1.8rem;
    text-align: center;
}


.increaseBtn, .decreaseBtn {
    padding: 1rem;
     border-radius: 10em; 
    font-weight: bold;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    outline: none; 
    border: none;
    
}

i {
    pointer-events: none;
}

.submitInputMobile {
    margin-left: auto;
    padding: 1rem;
    border-radius: 1em;
    background-color: #94e22b;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
}

label {
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 1rem .5rem;
    background-color: hsla(0, 0%, 83%, 0.6);	
    display: flex;
    align-items: center;
    border-radius: 6px;
}

li {
    padding: none
}

.selected {
   background-color: var(--primary-opaque-color);
   color: white;
}

.selected .itemCount {
    color: white;
}

.selected .countedBy {
    color: var(--primary-color);
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}

.itemCount {
    color: var(--primary-color);
    margin-right: 5px;
}

.countedBy {
    font-size: .8rem;
}

.countContainer {
    display: flex;
    align-items: center;
}

.titleBar > * {
    pointer-events: none;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem 0 .5rem;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.labels > * {
    text-decoration: underline;
}

.priceLabel,
.price {
    display: none;
    position: absolute;
    left: 200px;
}

.totalLabel,
.totalDollar {
    display: none;
    position: absolute;
    left: 300px;
}

.price,
.totalDollar  {
    font-size: .8rem;
}

.inlineAddForm {
    display: none;
    position: absolute;
    right: 200px;
}

.inlineNumInput {
    width: 75px;
    text-align: center;
}

.inlineSubmit {
    padding: .5rem 1rem;
    border-radius: 4px;
    background-color: #94e22b;
    color: var(--primary-color);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 475px) {
    .priceLabel,
    .price {
        display: block;
    }
}

@media screen and (min-width: 525px) {
    .totalLabel,
    .totalDollar {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .inlineAddForm {
        display: block;
    }

    #addInvForm {
        display: none;
    }
}