/* ===================================== */
/* ============= General =============== */
/* ===================================== */
* {
    box-sizing: border-box;
    font-family: var(--font-regular);
}

*:focus {
    outline: 2px solid var(--primary-color);
}

body {
    font-family: var(--font-regular);
    color: var(--primary-color);
    background-color: var(--primary-color);
}

/* ===================================== */
/* ============== Resets =============== */
/* ===================================== */
a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

/* hide incrementers in inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button, input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

i {
    pointer-events: none;
}

/* ===================================== */
/* ============= Variables ============= */
/* ===================================== */
:root {
    --primary-color: hsl(275, 61%, 32%);
    --primary-opaque-color: hsla(275, 61%, 32%, 0.5);
    --primary-light-color: hsl(276, 29%, 80%);
    --accent-color: hsl(43, 100%, 49%);
    --black-color: #3b3b3b;

    --font-regular: "Roboto", sans-serif;
}

/* ===================================== */
/* ========== Utility Classes ========== */
/* ===================================== */
.hidden {
    display: none;
}

.visibleInline {
    display: inline;
}

.titleBar {
    border-bottom: 2px solid rgba(174, 171, 171, 0);
    transition: .5s;
}

.underline {
    border-bottom: 2px solid rgba(174, 171, 171, 1);
}

.rotate180 {
    transform: rotate(180deg);
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5
}

/* ===================================== */
/* ============== Buttons ============== */
/* ===================================== */

.btn {
    color: var(--accent-color);
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    padding: 0.75em 2em;
    border-radius: 2em;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
    font-weight: bold;
    font-family: var(--font-regular);
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.btn_secondary {
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.btn_secondary:hover {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.btn_icon {
    padding: 0.5rem;
    border-radius: 100%;
    font-size: 1rem;
    background-color: var(--primary-light-color);
    color: var(--primary-color);
    border-color: var(--primary-light-color);
    box-shadow: 1px 1px 1px 1px var(--primary-color);
}

.btn_light {
    padding: .5rem 1rem;
    border-radius: 4px;
    background-color: var(--primary-light-color);
    border: none;
    box-shadow: 2px 2px 4px 2px rgb(141, 130, 139);
    color: var(--primary-color);
    cursor: pointer;
}

.btn_light:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.btn_delete {
    background-color: #ff4330;
    color: white;
}

.btn_delete:hover {
    background-color: #851408;
    color: white;
}

/* ===================================== */
/* ============ Page Layout ============ */
/* ===================================== */
main {
    position: relative;
    min-height: 80vh;
    width: 100%;
    max-width: 1000px;
    margin-top: 100px;
    padding: 100px .5rem 1rem .5rem;
}

#logoText {
    width: 60vw;
    max-width: 650px;
    position: absolute;
    transform: translateX(60px) translateY(40px);
}

#iconContainer {
    display: grid;
    place-items: center;
    padding: 1.5rem;
    position: absolute;
    transform: translateY(-120%);
}

#icon {
    width: 15vw;
    max-width: 70px;
    height: 15vw;
    max-height: 70px;
}

section {
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.listItem {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    margin: 0 5px 10px 5px;
}

.popUpModal {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px; 
    height: 400px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem;
    box-shadow: 2px 2px 4px 2px gray;
}

.popUpModal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* ===================================== */
/* ============ Page Styles ============ */
/* ===================================== */
main {
    background-color: var(--primary-light-color);
}

#iconContainer {
    background-color: var(--primary-color);
    border-radius: 100%;
    border: 8px solid var(--primary-light-color);
}

#iconContainer:hover {
    border-color: var(--accent-color);
}

#icon {
    background-color: var(--primary-color);
    stroke: red;
    fill: blue;
}

#icon:hover {
 
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
}

.dropdownBar {
    box-shadow: 1px 1px 1px 1px var(--primary-color);
    -webkit-appearance: none; /* allows box-shadow to show on iOS */
}

.listItem {
    border-bottom: 1px solid rgb(174, 171, 171);
}

.titleBar h2 {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.directionArrow {
    color: var(--primary-color);
}

.arrow {
    transition: 0.3s;
}

.itemName {
    text-transform: capitalize;
}

.checkmark {
    color: #94e22b;
}

/* ===================================== */
/* =========== Media Queries =========== */
/* ===================================== */
@media screen and (min-width: 1001px) {
    main {
        border-radius: 5px;
    }
}